a link {
	color: #f19f4d;
}
a:visited {
	color: #004080;	
}
a:hover {
	color: #f9cf00;
}
body {
	background-color: green;
	margin: auto;
	width: 60%;
	padding: auto;
}
.block-of-info, .title-content, .content {
	border: 10px solid darkgreen;
	padding: 30px;
	background-color: lightgreen;
}
.content {
	align-content: center;
	align-items: center;
	text-align: center;
}
h1, h2, h5, h6 {
	font-family: 'Fresca', sans-serif;
}
footer {
	    margin-top: 40px;
}
.go-back-link {
	text-align: center;
}
header {
	align-content: center;
	margin-bottom: 40px;
}
.category, .year, .content, .review, p {
	font-family: 'Roboto', sans-serif;
}
.picture {
	display: flex;
	justify-content: flex-start;
}

.picture {
	margin: 30px;
}
.block-of-info, .title-content {
	margin-bottom: 50px;
}
header, footer {
	background-color: #0080ff;
	padding: 20px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}
.review-page-image {
	display: block; 
	margin: 0 auto;
	margin-bottom: 30px;
}

.top-of-individual-page {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}