<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Netflix Shows</title>
</head>
<body>
	<header>
		<h2>this is a list of shows:</h2>
	</header>
		<p>some words go here</p>
		<p>more words here</p>
	<div th:each="currentShow: ${show}">
		<h2><a th:href="@{/singlereview(id=${currentShow.id})}"
		th:text="${currentShow.title}"></a></h2>
	</div>
</body> 
<footer>
	<h5>All views and opinions are my own.</h5>
	<h5>Images do not belong to me.</h5>
	<h5>Site not endorsed by Netflix...</h5>
	<h6>though I'm not above selling my soul to watch Netflix Shows and write reviews about them if they want to pay me for it.</h6>
	<h5>&copy;2017 Meaghan Rea</h5>
</footer>
</html>