<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Netflix Categories</title>
	<link rel="stylesheet" type="text/css" href="/CSS/style.css"></link>
	<link href="https://fonts.googleapis.com/css?family=Fresca|Roboto"
	rel="stylesheet"></link>
</head>
<body class="the-body">
	<header>
		<h1>Netflix Shows Reviews</h1>
		<h2>- Overview of All Categories -</h2>
	</header>
	<div class="content">
		<div th:each="currentCategory: ${categories}">
			<h2>
				<a th:href="@{/netflixShow(id=${currentCategory.id})}"
				th:text="${currentCategory.categoryName}"></a>
			</h2>
		</div>
	</div>
</body>
<footer>
	<h5>All views and opinions are my own.</h5>
	<h5>Images do not belong to me.</h5>
	<h5>Site not endorsed by Netflix...</h5>
	<h6>though I'm not above selling my soul to watch Netflix Shows
		and write reviews about them if they want to pay me for it.</h6>
		<h5>&copy;2017 Meaghan Rea</h5>
	</footer>
	</html>